* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {

    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  
  background: linear-gradient(to bottom, #12071f, #2f204e);
  color: aliceblue;
}